*{
margin: 0;
oadding: 0;
box-sizing: border-box;
}
#board{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}
.square{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  cursor: pointer;
  user-select: none;

}
.square:hover{
  background:  #eee;
}
#game{
  display: flex;
  justify-content: center;
  aLign-items: center;
  flex-direction: column;
}
#head{
  font-size: 25px;
  padding:  15px;
}
